JSON/Demo Approval Workflow (SHI POC).json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","uaecentral","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}},"approvals_Connection_Name":{"defaultValue":"approvals","type":"String","metadata":{"description":"Name of the connection."}},"office365_Connection_Name":{"defaultValue":"office365","type":"String","metadata":{"description":"Name of the connection."}},"sharepointonline_Connection_Name":{"defaultValue":"sharepointonline","type":"String","metadata":{"description":"Name of the connection."}}},"resources":[{"type":"Microsoft.Logic/workflows","apiVersion":"2016-06-01","name":"[parameters('logicAppName')]","location":"[parameters('logicAppLocation')]","dependsOn":["[resourceId('Microsoft.Web/connections', parameters('approvals_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('office365_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('sharepointonline_Connection_Name'))]"],"properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_item_is_created":{"recurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerBody()?['value']","metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetOnNewItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://rltestlab.sharepoint.com/sites/DocumentApprovalWorkflowTest'))}/tables/@{encodeURIComponent(encodeURIComponent('ef9a1e87-0c1a-46de-ba38-fc01b9b18bc8'))}/onnewitems","authentication":"@parameters('$authentication')"}}},"actions":{"Start_and_wait_for_Production_Draft_approval":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"StartAndWaitForAnApproval"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['approvals']['connectionId']"}},"body":{"notificationUrl":"@{listCallbackUrl()}","title":"New Document Review Request","assignedTo":"ryan.lowell@architechsfl.com","details":"A new request for a document has been made by: @{triggerBody()?['RequestorAlias']}\n\nProject Title: @{triggerBody()?['Title']}\n\nProject Description: @{triggerBody()?['ProjectDescription']}","itemLink":"@triggerBody()?['Linktoitem']","itemLinkDescription":"Click to view the item.","enableNotifications":true,"enableReassignment":true},"path":"/types/@{encodeURIComponent('Basic')}/subscriptions","authentication":"@parameters('$authentication')"}},"Check_for_Production_Draft_approval":{"actions":{"Notify_of_production_draft_approval":{"foreach":"@body('Start_and_wait_for_Production_Draft_approval')?['responses']","actions":{"Send_an_email_(V2)":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365']['connectionId']"}},"method":"post","body":{"To":"@triggerBody()?['RequestorAlias']","Subject":"Congrats! Your document passed Production Draft approval.","Body":"<p>Congrats!</p>"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"},"Update_the_request_with_production_draft_approval":{"foreach":"@body('Start_and_wait_for_Production_Draft_approval')?['responses']","actions":{"Update_item":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"patch","body":{"Title":"@triggerBody()?['Title']","ApproverLevel1":"Approved","ApproverLevel1Comments":"@items('Update_the_request_with_production_draft_approval')?['comments']","ApproverLevel1Date":"@body('Start_and_wait_for_Production_Draft_approval')?['completionDate']"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://rltestlab.sharepoint.com/sites/DocumentApprovalWorkflowTest'))}/tables/@{encodeURIComponent(encodeURIComponent('ef9a1e87-0c1a-46de-ba38-fc01b9b18bc8'))}/items/@{encodeURIComponent(triggerBody()?['ID'])}","authentication":"@parameters('$authentication')"}}},"runAfter":{"Notify_of_production_draft_approval":["Succeeded"]},"type":"Foreach"},"Start_and_wait_for_QA_Approval":{"runAfter":{"Update_the_request_with_production_draft_approval":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"StartAndWaitForAnApproval"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['approvals']['connectionId']"}},"body":{"notificationUrl":"@{listCallbackUrl()}","title":"New Document Review Request","assignedTo":"ryan.lowell@architechsfl.com","details":"A new request for a document has been made by: @{triggerBody()?['RequestorAlias']}\n\nProject Title: @{triggerBody()?['Title']}\n\nProject Description: @{triggerBody()?['ProjectDescription']}","itemLink":"@triggerBody()?['Linktoitem']","itemLinkDescription":"Click to view the item.","enableNotifications":true,"enableReassignment":true},"path":"/types/@{encodeURIComponent('Basic')}/subscriptions","authentication":"@parameters('$authentication')"}},"Check_for_QA_Approval":{"actions":{"Notify_of_QA_approval":{"foreach":"@body('Start_and_wait_for_Production_Draft_approval')?['responses']","actions":{"Send_an_email_(V2)_4":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365']['connectionId']"}},"method":"post","body":{"To":"@triggerBody()?['RequestorAlias']","Subject":"Congrats! Your document passed QA approval.","Body":"<p>Yo</p>"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"},"Update_the_request_with_QA_approval":{"foreach":"@body('Start_and_wait_for_Production_Draft_approval')?['responses']","actions":{"Apply_to_each":{"foreach":"@body('Start_and_wait_for_QA_Approval')?['responses']","actions":{"Update_item_4":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"patch","body":{"Title":"@triggerBody()?['Title']","ApproverLevel2":"Approved","ApproverLevel2Comments":"@items('Apply_to_each')?['comments']","ApproverLevel2Date":"@body('Start_and_wait_for_QA_Approval')?['completionDate']"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://rltestlab.sharepoint.com/sites/DocumentApprovalWorkflowTest'))}/tables/@{encodeURIComponent(encodeURIComponent('ef9a1e87-0c1a-46de-ba38-fc01b9b18bc8'))}/items/@{encodeURIComponent(triggerBody()?['ID'])}","authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Notify_of_QA_approval":["Succeeded"]},"type":"Foreach"},"Start_and_wait_for_Production_Final_approval":{"runAfter":{"Update_the_request_with_QA_approval":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"StartAndWaitForAnApproval"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['approvals']['connectionId']"}},"body":{"notificationUrl":"@{listCallbackUrl()}","title":"New Document Review Request","assignedTo":"ryan.lowell@architechsfl.com","details":"A new request for a document has been made by: @{triggerBody()?['RequestorAlias']}\n\nProject Title: @{triggerBody()?['Title']}\n\nProject Description: @{triggerBody()?['ProjectDescription']}","itemLink":"@triggerBody()?['Linktoitem']","itemLinkDescription":"Click to view the item.","enableNotifications":true,"enableReassignment":true},"path":"/types/@{encodeURIComponent('Basic')}/subscriptions","authentication":"@parameters('$authentication')"}},"Check_for_Production_Final_approval":{"actions":{"Notify_of_Production_Final_approval":{"foreach":"@body('Start_and_wait_for_Production_Draft_approval')?['responses']","actions":{"Send_an_email_(V2)_6":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365']['connectionId']"}},"method":"post","body":{"To":"@triggerBody()?['RequestorAlias']","Subject":"Congrats! Your document passed Production Final approval.","Body":"<p>Hey</p>"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"},"Update_the_request_with_Production_Final_approval":{"foreach":"@body('Start_and_wait_for_Production_Draft_approval')?['responses']","actions":{"Apply_to_each_2":{"foreach":"@body('Start_and_wait_for_Production_Final_approval')?['responses']","actions":{"Update_item_6":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"patch","body":{"Title":"@triggerBody()?['Title']","ApproverLevel3":"Approved","ApproverLevel3Comments":"@items('Apply_to_each_2')?['comments']","ApproverLevel3Date":"@body('Start_and_wait_for_Production_Final_approval')?['completionDate']"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://rltestlab.sharepoint.com/sites/DocumentApprovalWorkflowTest'))}/tables/@{encodeURIComponent(encodeURIComponent('ef9a1e87-0c1a-46de-ba38-fc01b9b18bc8'))}/items/@{encodeURIComponent(triggerBody()?['ID'])}","authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Notify_of_Production_Final_approval":["Succeeded"]},"type":"Foreach"},"Start_and_wait_for_Customer_Service_approval":{"runAfter":{"Update_the_request_with_Production_Final_approval":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"StartAndWaitForAnApproval"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['approvals']['connectionId']"}},"body":{"notificationUrl":"@{listCallbackUrl()}","title":"New Document Review Request","assignedTo":"ryan.lowell@architechsfl.com","details":"A new request for a document has been made by: @{triggerBody()?['RequestorAlias']}\n\nProject Title: @{triggerBody()?['Title']}\n\nProject Description: @{triggerBody()?['ProjectDescription']}","itemLink":"@triggerBody()?['Linktoitem']","itemLinkDescription":"Click to view the item.","enableNotifications":true,"enableReassignment":true},"path":"/types/@{encodeURIComponent('Basic')}/subscriptions","authentication":"@parameters('$authentication')"}},"Check_for_Customer_Service_approval":{"actions":{"Notify_of_Customer_Service_approval":{"foreach":"@body('Start_and_wait_for_Production_Draft_approval')?['responses']","actions":{"Send_an_email_(V2)_8":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365']['connectionId']"}},"method":"post","body":{"To":"@triggerBody()?['RequestorAlias']","Subject":"Congrats! Your document passed Customer Service approval.","Body":"<p>Hi</p>"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"},"Update_the_request_with_Customer_Service_approval":{"foreach":"@body('Start_and_wait_for_Production_Draft_approval')?['responses']","actions":{"Apply_to_each_5":{"foreach":"@body('Start_and_wait_for_Customer_Service_approval')?['responses']","actions":{"Update_item_8":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"patch","body":{"Title":"@triggerBody()?['Title']","Customer_x0020_Service":"Approved","Customer_x0020_Service_x0020_Com":"@items('Apply_to_each_5')?['comments']","Customer_x0020_Service_x0020_App":"@body('Start_and_wait_for_Customer_Service_approval')?['completionDate']"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://rltestlab.sharepoint.com/sites/DocumentApprovalWorkflowTest'))}/tables/@{encodeURIComponent(encodeURIComponent('ef9a1e87-0c1a-46de-ba38-fc01b9b18bc8'))}/items/@{encodeURIComponent(triggerBody()?['ID'])}","authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Notify_of_Customer_Service_approval":["Succeeded"]},"type":"Foreach"},"Send_an_email_(V2)_9":{"runAfter":{"Update_the_request_with_Customer_Service_approval":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365']['connectionId']"}},"method":"post","body":{"To":"@triggerBody()?['RequestorAlias']","Subject":"Done!","Body":"<p>You made it to the end, cowboy.</p>"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{"Start_and_wait_for_Customer_Service_approval":["Succeeded"]},"else":{"actions":{"Notify_of_Customer_Service_rejection":{"foreach":"@body('Start_and_wait_for_Production_Draft_approval')?['responses']","actions":{"Send_an_email_(V2)_7":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365']['connectionId']"}},"method":"post","body":{"To":"@triggerBody()?['RequestorAlias']","Subject":"Sorry! Your document did not pass  Customer Service approval.","Body":"<p>hey</p>"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"},"Update_the_request_with_Customer_Service_rejection":{"foreach":"@body('Start_and_wait_for_Production_Draft_approval')?['responses']","actions":{"Apply_to_each_6":{"foreach":"@body('Start_and_wait_for_Customer_Service_approval')?['responses']","actions":{"Update_item_7":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"patch","body":{"Title":"@triggerBody()?['Title']","Customer_x0020_Service":"Rejected","Customer_x0020_Service_x0020_Com":"@items('Apply_to_each_6')?['comments']","Customer_x0020_Service_x0020_App":"@body('Start_and_wait_for_Customer_Service_approval')?['completionDate']"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://rltestlab.sharepoint.com/sites/DocumentApprovalWorkflowTest'))}/tables/@{encodeURIComponent(encodeURIComponent('ef9a1e87-0c1a-46de-ba38-fc01b9b18bc8'))}/items/@{encodeURIComponent(triggerBody()?['ID'])}","authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Notify_of_Customer_Service_rejection":["Succeeded"]},"type":"Foreach"}}},"expression":{"equals":["@body('Start_and_wait_for_Production_Draft_approval')?['outcome']","Approve"]},"type":"If"}},"runAfter":{"Start_and_wait_for_Production_Final_approval":["Succeeded"]},"else":{"actions":{"Notify_of_Production_Final_rejection":{"foreach":"@body('Start_and_wait_for_Production_Draft_approval')?['responses']","actions":{"Send_an_email_(V2)_5":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365']['connectionId']"}},"method":"post","body":{"To":"@triggerBody()?['RequestorAlias']","Subject":"Sorry! Your document did not pass Production Final approval.","Body":"<p>Sup</p>"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"},"Update_the_request_with_Production_Final_rejection":{"foreach":"@body('Start_and_wait_for_Production_Draft_approval')?['responses']","actions":{"Apply_to_each_4":{"foreach":"@body('Start_and_wait_for_Production_Final_approval')?['responses']","actions":{"Update_item_5":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"patch","body":{"Title":"@triggerBody()?['Title']","ApproverLevel3":"Rejected","ApproverLevel3Comments":"@items('Apply_to_each_4')?['comments']","ApproverLevel3Date":"@body('Start_and_wait_for_Production_Final_approval')?['completionDate']"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://rltestlab.sharepoint.com/sites/DocumentApprovalWorkflowTest'))}/tables/@{encodeURIComponent(encodeURIComponent('ef9a1e87-0c1a-46de-ba38-fc01b9b18bc8'))}/items/@{encodeURIComponent(triggerBody()?['ID'])}","authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Notify_of_Production_Final_rejection":["Succeeded"]},"type":"Foreach"}}},"expression":{"equals":["@body('Start_and_wait_for_Production_Draft_approval')?['outcome']","Approve"]},"type":"If"}},"runAfter":{"Start_and_wait_for_QA_Approval":["Succeeded"]},"else":{"actions":{"Notify_of_QA_rejection":{"foreach":"@body('Start_and_wait_for_Production_Draft_approval')?['responses']","actions":{"Send_an_email_(V2)_3":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365']['connectionId']"}},"method":"post","body":{"To":"@triggerBody()?['RequestorAlias']","Subject":"Sorry! Your document did not pass QA approval.","Body":"<p>Hi</p>"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"},"Update_the_request_with_QA_rejection":{"foreach":"@body('Start_and_wait_for_Production_Draft_approval')?['responses']","actions":{"Apply_to_each_3":{"foreach":"@body('Start_and_wait_for_QA_Approval')?['responses']","actions":{"Update_item_3":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"patch","body":{"Title":"@triggerBody()?['Title']","ApproverLevel2":"Approved","ApproverLevel2Comments":"@items('Apply_to_each_3')?['comments']","ApproverLevel2Date":"@body('Start_and_wait_for_QA_Approval')?['completionDate']"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://rltestlab.sharepoint.com/sites/DocumentApprovalWorkflowTest'))}/tables/@{encodeURIComponent(encodeURIComponent('ef9a1e87-0c1a-46de-ba38-fc01b9b18bc8'))}/items/@{encodeURIComponent(triggerBody()?['ID'])}","authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Notify_of_QA_rejection":["Succeeded"]},"type":"Foreach"}}},"expression":{"equals":["@body('Start_and_wait_for_Production_Draft_approval')?['outcome']","Approve"]},"type":"If"}},"runAfter":{"Start_and_wait_for_Production_Draft_approval":["Succeeded"]},"else":{"actions":{"Notify_of_production_draft_rejection":{"foreach":"@body('Start_and_wait_for_Production_Draft_approval')?['responses']","actions":{"Send_an_email_(V2)_2":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365']['connectionId']"}},"method":"post","body":{"To":"@triggerBody()?['RequestorAlias']","Subject":"Sorry! Your document did not pass Production Draft approval.","Body":"<p>Bad luck</p>"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"},"Update_the_request_with_production_draft_rejection":{"foreach":"@body('Start_and_wait_for_Production_Draft_approval')?['responses']","actions":{"Update_item_2":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"patch","body":{"Title":"@triggerBody()?['Title']","ApproverLevel1":"Rejected","ApproverLevel1Comments":"@items('Update_the_request_with_production_draft_rejection')?['comments']","ApproverLevel1Date":"@body('Start_and_wait_for_Production_Draft_approval')?['completionDate']"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://rltestlab.sharepoint.com/sites/DocumentApprovalWorkflowTest'))}/tables/@{encodeURIComponent(encodeURIComponent('ef9a1e87-0c1a-46de-ba38-fc01b9b18bc8'))}/items/@{encodeURIComponent(triggerBody()?['ID'])}","authentication":"@parameters('$authentication')"}}},"runAfter":{"Notify_of_production_draft_rejection":["Succeeded"]},"type":"Foreach"}}},"expression":{"equals":["@body('Start_and_wait_for_Production_Draft_approval')?['outcome']","Approve"]},"type":"If"}}},"parameters":{"$connections":{"value":{"approvals":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'approvals')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('approvals_Connection_Name'))]","connectionName":"[parameters('approvals_Connection_Name')]"},"office365":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('office365_Connection_Name'))]","connectionName":"[parameters('office365_Connection_Name')]"},"sharepointonline":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('sharepointonline_Connection_Name'))]","connectionName":"[parameters('sharepointonline_Connection_Name')]"}}}},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"collections":{"maximumItemCount":5000},"performanceProfile":{"throttles":{"mode":"Low"}},"retryPolicy":{"type":"Exponential","interval":"PT5M","count":2,"minimumInterval":"PT5M","maximumInterval":"PT1H"}}}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('approvals_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'approvals')]"},"displayName":"[parameters('approvals_Connection_Name')]"}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('office365_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]"},"displayName":"[parameters('office365_Connection_Name')]"}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('sharepointonline_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]"},"displayName":"[parameters('sharepointonline_Connection_Name')]"}}]}