JSON/Team Creation via Form v5.0.json
{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","uaecentral","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}},"microsoftforms_Connection_Name":{"defaultValue":"microsoftforms","type":"String","metadata":{"description":"Name of the connection."}},"office365users_Connection_Name":{"defaultValue":"office365users","type":"String","metadata":{"description":"Name of the connection."}},"approvals_Connection_Name":{"defaultValue":"approvals","type":"String","metadata":{"description":"Name of the connection."}},"teams_Connection_Name":{"defaultValue":"teams","type":"String","metadata":{"description":"Name of the connection."}},"office365groups_Connection_Name":{"defaultValue":"office365groups","type":"String","metadata":{"description":"Name of the connection."}}},"resources":[{"type":"Microsoft.Logic/workflows","apiVersion":"2016-06-01","name":"[parameters('logicAppName')]","location":"[parameters('logicAppLocation')]","dependsOn":["[resourceId('Microsoft.Web/connections', parameters('microsoftforms_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('office365users_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('approvals_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('teams_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('office365groups_Connection_Name'))]"],"properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_Team_Creation_Request_form_response_is_submitted":{"splitOn":"@triggerBody()?['value']","metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateFormWebhook"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['microsoftforms']['connectionId']"}},"body":{"eventType":"responseAdded","notificationUrl":"@{listCallbackUrl()}","source":"ms-connector"},"path":"/formapi/api/forms/@{encodeURIComponent('bUSSFob0yUGVZhwS3yxpjzKemfwWAOtPloNHHGYBDA1URTRYTksyTDdSNUdPTjdKRzk3SjJNTTNQSy4u')}/webhooks","authentication":"@parameters('$authentication')"}}},"actions":{"Get_response_details":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetFormResponseById"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['microsoftforms']['connectionId']"}},"method":"get","path":"/formapi/api/forms('@{encodeURIComponent('bUSSFob0yUGVZhwS3yxpjzKemfwWAOtPloNHHGYBDA1URTRYTksyTDdSNUdPTjdKRzk3SjJNTTNQSy4u')}')/responses","queries":{"response_id":"@triggerBody()?['resourceData']?['responseId']"},"authentication":"@parameters('$authentication')"}},"Initialize_mailNickname_variable_from_Team_Name_input":{"runAfter":{"Get_user_info_of_Team_Owner":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"mailNickname","type":"string","value":"@{Replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(body('Get_response_details')?['r949664c19c064bd5b078fd7033eee5dc'],':',''),'%',''),'#',''),'*',''),'<',''),'>',''),'?',''),'/',''),'\"',''),'\"',''),'@',''),'&',''),'=',''),'/',''),';',''),'|',''),'\\',''),'[',''),']',''),'~',''),'{',''),'}',''),'^',''),'!',''),',',''),'.',''),' ','')}"}]}},"Initialize_newGroupID_variable":{"runAfter":{"Initialize_mailNickname_variable_from_Team_Name_input":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"newGroupID","type":"string"}]}},"Readme_-_Pending_improvements":{"runAfter":{"Get_response_details":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"readme","type":"string","value":"Choose from team templates in submission form\nSet companion flow to remind of pending approvals"}]}},"Get_user_info_of_respondent":{"runAfter":{"Readme_-_Pending_improvements":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SearchUserV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365users']['connectionId']"}},"method":"get","path":"/v2/users","queries":{"searchTerm":"@body('Get_response_details')?['responder']","top":1},"authentication":"@parameters('$authentication')"}},"Get_user_info_of_Team_Owner":{"runAfter":{"Get_user_info_of_respondent":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SearchUserV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365users']['connectionId']"}},"method":"get","path":"/v2/users","queries":{"searchTerm":"@body('Get_response_details')?['rbbc8e1b9badc4e2bb48c52e69f37102e']","top":1},"authentication":"@parameters('$authentication')"}},"Initialize_ownerDisplayName_variable":{"runAfter":{"Initialize_newGroupID_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ownerDisplayName","type":"string"}]}},"Initialize_respondentDisplayName_variable":{"runAfter":{"Initialize_ownerEmail_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"respondentDisplayName","type":"string"}]}},"Initialize_ownerEmail_variable":{"runAfter":{"Initialize_ownerDisplayName_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ownerEmail","type":"string"}]}},"Initialize_respondentEmail_variable":{"runAfter":{"Initialize_respondentDisplayName_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"respondentEmail","type":"string"}]}},"Set_respondent_variables":{"foreach":"@body('Get_user_info_of_respondent')?['value']","actions":{"Set_respondentDisplayName":{"runAfter":{},"type":"SetVariable","inputs":{"name":"respondentDisplayName","value":"@items('Set_respondent_variables')?['DisplayName']"}},"Set_respondentEmail":{"runAfter":{"Set_respondentDisplayName":["Succeeded"]},"type":"SetVariable","inputs":{"name":"respondentEmail","value":"@items('Set_respondent_variables')?['Mail']"}}},"runAfter":{"Append_approved_users_to_authorizedRespondents_variable":["Succeeded"]},"type":"Foreach"},"Set_owner_variables":{"foreach":"@body('Get_user_info_of_Team_Owner')?['value']","actions":{"Set_ownerDisplayName":{"runAfter":{},"type":"SetVariable","inputs":{"name":"ownerDisplayName","value":"@items('Set_owner_variables')?['DisplayName']"}},"Set_ownerEmail":{"runAfter":{"Set_ownerDisplayName":["Succeeded"]},"type":"SetVariable","inputs":{"name":"ownerEmail","value":"@items('Set_owner_variables')?['Mail']"}}},"runAfter":{"Set_respondent_variables":["Succeeded"]},"type":"Foreach"},"Check_if_respondent_is_approved_to_request_a_Team":{"actions":{"Create_an_approval":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateAnApproval"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['approvals']['connectionId']"}},"method":"post","body":{"title":"Team creation request","assignedTo":"ryan.lowell@architechsfl.com","details":"A team creation request has been submitted by @{body('Get_response_details')?['responder']}\n\nTeam Name: @{body('Get_response_details')?['r949664c19c064bd5b078fd7033eee5dc']}\n\nDescription: @{body('Get_response_details')?['r379690a02d364e07ac4b83ce4d8fe5a7']}","enableNotifications":true,"enableReassignment":true},"path":"/types/@{encodeURIComponent('Basic')}","authentication":"@parameters('$authentication')"}},"Post_your_own_adaptive_card_as_the_Flow_bot_to_a_channel":{"runAfter":{"Create_an_approval":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostChannelAdaptiveCard"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['teams']['connectionId']"}},"method":"post","body":{"recipient":{"channelId":"19:6331410ef97944889c8e9a39a6a0f593@thread.tacv2"},"messageBody":"{\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"type\": \"AdaptiveCard\",\n    \"version\": \"1.0\",\n    \"body\": [\n      {\n        \"type\": \"Container\",\n        \"items\": [\n          {\n            \"type\": \"TextBlock\",\n            \"text\": \"New Team Creation Request\",\n            \"weight\": \"bolder\",\n            \"size\": \"medium\"\n          },\n          {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n              {\n                \"type\": \"Column\",\n                \"width\": \"stretch\",\n                \"items\": [\n                  {\n                    \"type\": \"TextBlock\",\n                    \"spacing\": \"none\",\n                    \"text\": \"Received @{body('Get_response_details')?['submitDate']}\",\n                    \"isSubtle\": true,\n                    \"wrap\": true\n                  }\n                ]\n              }\n            ]\n          }\n        ]\n      },\n      {\n        \"type\": \"Container\",\n        \"items\": [\n          {\n            \"type\": \"TextBlock\",\n            \"text\": \"Your team has received a new Team creation request from @{variables('respondentDisplayName')}. Please see the information below and approve or deny the request.\",\n            \"wrap\": true\n          },\n          {\n            \"type\": \"FactSet\",\n            \"facts\": [\n              {\n                \"title\": \"Team Name:\",\n                \"value\": \"@{body('Get_response_details')?['r949664c19c064bd5b078fd7033eee5dc']}\"\n              },\n              {\n                \"title\": \"Team Description:\",\n                \"value\": \"@{body('Get_response_details')?['r379690a02d364e07ac4b83ce4d8fe5a7']}\"\n              },\n              {\n                \"title\": \"Team Owner:\",\n                \"value\": \"@{variables('ownerDisplayName')}\"\n              }\n            ]\n          }\n        ]\n      }\n    ],\n    \"actions\": [\n      {\n        \"type\": \"Action.OpenUrl\",\n        \"title\": \"Process Approval\",\n        \"url\": \"@{body('Create_an_approval')?['respondLink']}\"\n      }\n    ]\n}"},"path":"/flowbot/actions/adaptivecard/recipienttypes/channel","queries":{"groupId":"9ac6dec5-9b98-4c6b-a455-efcd4017f5ff"},"authentication":"@parameters('$authentication')"}},"Wait_for_an_approval":{"runAfter":{"Post_your_own_adaptive_card_as_the_Flow_bot_to_a_channel":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"WaitForAnApproval"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['approvals']['connectionId']"}},"body":{"notificationUrl":"@{listCallbackUrl()}"},"path":"/approvals/@{encodeURIComponent(body('Create_an_approval')?['name'])}/subscriptions","authentication":"@parameters('$authentication')"}},"Begin_team_creation_if_approved":{"actions":{"Create_Team":{"runAfter":{"Apply_to_each_approval":["Succeeded"]},"type":"Http","inputs":{"method":"PUT","uri":"https://graph.microsoft.com/v1.0/groups/@{variables('newgroupID')}/team","body":{"memberSettings":{"allowCreatePrivateChannels":"@body('Get_response_details')?['r62f11dd7c8044902a1be4c7d22374ecd']","allowCreateUpdateChannels":"@body('Get_response_details')?['r62f11dd7c8044902a1be4c7d22374ecd']","allowDeleteChannels":"@body('Get_response_details')?['r62f11dd7c8044902a1be4c7d22374ecd']","allowAddRemoveApps":"@body('Get_response_details')?['r62f11dd7c8044902a1be4c7d22374ecd']","allowCreateUpdateRemoveTabs":"@body('Get_response_details')?['r62f11dd7c8044902a1be4c7d22374ecd']","allowCreateUpdateRemoveConnectors":"@body('Get_response_details')?['r62f11dd7c8044902a1be4c7d22374ecd']"},"messagingSettings":{"allowUserEditMessages":"@body('Get_response_details')?['rf31af1d5371b444682581885b6f0782a']","allowUserDeleteMessages":"@body('Get_response_details')?['rf31af1d5371b444682581885b6f0782a']"},"funSettings":{"allowGiphy":true,"giphyContentRating":"strict"},"guestSettings":{"allowCreateUpdateChannels":false,"allowDeleteChannels":false}},"authentication":{"type":"ActiveDirectoryOAuth","tenant":"1692446d-f486-41c9-9566-1c12df2c698f","audience":"https://graph.microsoft.com","clientId":"276bb65e-3bd0-40b0-9a8b-39ab2f3c91dd","secret":"TVELiYM6GbLkL78~i4Fc8i4t3-uH0-6_b_"}}},"Apply_to_each_approval":{"foreach":"@body('Get_user_info_of_Team_Owner')?['value']","actions":{"Create_Group":{"runAfter":{},"type":"Http","inputs":{"method":"POST","uri":"https://graph.microsoft.com/v1.0/groups/","body":{"description":"@{body('Get_response_details')?['r379690a02d364e07ac4b83ce4d8fe5a7']}","displayName":"@{body('Get_response_details')?['r949664c19c064bd5b078fd7033eee5dc']}","groupTypes":["Unified"],"mailEnabled":true,"mailNickname":"@{variables('mailNickname')}","securityEnabled":false,"visibility":"@body('Get_response_details')?['r35d287ccc01649c59e06531612acf362']","owners@odata.bind":["https://graph.microsoft.com/v1.0/users/@{items('Apply_to_each_approval')?['Id']}"]},"authentication":{"type":"ActiveDirectoryOAuth","tenant":"1692446d-f486-41c9-9566-1c12df2c698f","audience":"https://graph.microsoft.com","clientId":"276bb65e-3bd0-40b0-9a8b-39ab2f3c91dd","secret":"TVELiYM6GbLkL78~i4Fc8i4t3-uH0-6_b_"}}},"Parse_group_creation_output":{"runAfter":{"Create_Group":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('Create_Group')","schema":{"type":"object","properties":{"@@odata.context":{"type":"string"},"id":{"type":"string"},"deletedDateTime":{},"classification":{},"createdDateTime":{"type":"string"},"creationOptions":{"type":"array"},"description":{"type":"string"},"displayName":{"type":"string"},"expirationDateTime":{},"groupTypes":{"type":"array","items":{"type":"string"}},"isAssignableToRole":{},"mail":{"type":"string"},"mailEnabled":{"type":"boolean"},"mailNickname":{"type":"string"},"membershipRule":{},"membershipRuleProcessingState":{},"onPremisesDomainName":{},"onPremisesLastSyncDateTime":{},"onPremisesNetBiosName":{},"onPremisesSamAccountName":{},"onPremisesSecurityIdentifier":{},"onPremisesSyncEnabled":{},"preferredDataLocation":{},"preferredLanguage":{},"proxyAddresses":{"type":"array","items":{"type":"string"}},"renewedDateTime":{"type":"string"},"resourceBehaviorOptions":{"type":"array"},"resourceProvisioningOptions":{"type":"array"},"securityEnabled":{"type":"boolean"},"securityIdentifier":{"type":"string"},"theme":{},"visibility":{"type":"string"},"onPremisesProvisioningErrors":{"type":"array"}}}}},"Set_newGroupID_variable":{"runAfter":{"Parse_group_creation_output":["Succeeded"]},"type":"SetVariable","inputs":{"name":"newgroupID","value":"@body('Parse_group_creation_output')?['id']"}}},"runAfter":{},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":1}}},"Apply_to_each":{"foreach":"@body('Wait_for_an_approval')?['responses']","actions":{"Notify_the_requester_of_the_team_approval_and_creation":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostUserNotification"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['teams']['connectionId']"}},"method":"post","body":{"messageTitle":"Team request approved","recipient":{"to":"@{body('Get_response_details')?['responder']};"},"messageBody":"Your request to create the team '@{body('Get_response_details')?['r949664c19c064bd5b078fd7033eee5dc']}' was approved and your team has been created.\n\nApproval comments: @{items('Apply_to_each')?['comments']}"},"path":"/flowbot/actions/notification/recipienttypes/user","authentication":"@parameters('$authentication')"}}},"runAfter":{"Create_Team":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Wait_for_an_approval":["Succeeded"]},"else":{"actions":{"Apply_to_each_denial":{"foreach":"@body('Wait_for_an_approval')","actions":{"Apply_to_each_2":{"foreach":"@body('Wait_for_an_approval')?['responses']","actions":{"Notify_the_respondent_of_the_denial,_rejected_by_approver":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostUserNotification"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['teams']['connectionId']"}},"method":"post","body":{"messageTitle":"Team request denied","recipient":{"to":"@{body('Get_response_details')?['responder']};"},"messageBody":"Your request to create the team '@{body('Get_response_details')?['r949664c19c064bd5b078fd7033eee5dc']}' was denied by '@{items('Apply_to_each_denial')?['responder']?['displayName']}'.\n\nRejection comments: @{items('Apply_to_each_2')?['comments']}"},"path":"/flowbot/actions/notification/recipienttypes/user","authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}},"runAfter":{},"type":"Foreach"}}},"expression":{"equals":["@body('Wait_for_an_approval')?['outcome']","Approve"]},"type":"If"}},"runAfter":{"Set_owner_variables":["Succeeded"]},"else":{"actions":{"Notify_respondent_of_denial,_not_authorized":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostUserNotification"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['teams']['connectionId']"}},"method":"post","body":{"messageTitle":"Team request denied","recipient":{"to":"@{body('Get_response_details')?['responder']};"},"messageBody":"Your request to create the team '@{body('Get_response_details')?['r949664c19c064bd5b078fd7033eee5dc']}' was denied. Your account is not authorized to submit Team creation requests. Please contact the IT department."},"path":"/flowbot/actions/notification/recipienttypes/user","authentication":"@parameters('$authentication')"}}}},"expression":{"contains":["@variables('authorizedRespondents')","@variables('respondentDisplayName')"]},"type":"If"},"Initialize_authorizedRespondents_variable":{"runAfter":{"Initialize_respondentEmail_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"authorizedRespondents","type":"array"}]}},"List_group_members_approved_to_request_a_Team":{"runAfter":{"Initialize_authorizedRespondents_variable":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"ListGroupMembers"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365groups']['connectionId']"}},"method":"get","path":"/v1.0/groups/@{encodeURIComponent('9ac6dec5-9b98-4c6b-a455-efcd4017f5ff')}/members","authentication":"@parameters('$authentication')"}},"Append_approved_users_to_authorizedRespondents_variable":{"foreach":"@body('List_group_members_approved_to_request_a_Team')?['value']","actions":{"Append_to_authorizedRespondents_array_variable":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"authorizedRespondents","value":"@items('Append_approved_users_to_authorizedRespondents_variable')?['displayName']"}}},"runAfter":{"List_group_members_approved_to_request_a_Team":["Succeeded"]},"type":"Foreach"}}},"parameters":{"$connections":{"value":{"microsoftforms":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'microsoftforms')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('microsoftforms_Connection_Name'))]","connectionName":"[parameters('microsoftforms_Connection_Name')]"},"office365users":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365users')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('office365users_Connection_Name'))]","connectionName":"[parameters('office365users_Connection_Name')]"},"approvals":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'approvals')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('approvals_Connection_Name'))]","connectionName":"[parameters('approvals_Connection_Name')]"},"teams":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'teams')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('teams_Connection_Name'))]","connectionName":"[parameters('teams_Connection_Name')]"},"office365groups":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365groups')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('office365groups_Connection_Name'))]","connectionName":"[parameters('office365groups_Connection_Name')]"}}}},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"collections":{"maximumItemCount":100000},"performanceProfile":{"throttles":{"mode":"Low"}},"retryPolicy":{"type":"Exponential","interval":"PT5M","count":2,"minimumInterval":"PT5M","maximumInterval":"PT1H"}}}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('microsoftforms_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'microsoftforms')]"},"displayName":"[parameters('microsoftforms_Connection_Name')]"}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('office365users_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365users')]"},"displayName":"[parameters('office365users_Connection_Name')]"}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('approvals_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'approvals')]"},"displayName":"[parameters('approvals_Connection_Name')]"}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('teams_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'teams')]"},"displayName":"[parameters('teams_Connection_Name')]"}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('office365groups_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365groups')]"},"displayName":"[parameters('office365groups_Connection_Name')]"}}]}